<section class="card comment-card">
    <div class="card-content">
        <div class="content">{{content}}</div>
    </div>
    <div class="card-content">
        <div class="content timestamp">Posted {{format_date createdAt}} by {{user.username}}</div>
    </div>
</section>