<section class="card post-card">
    <header class="card-header">
        <p class="card-header-title">{{title}}</p>
    </header>
    <div class="card-content">
        <div class="content">{{content}}</div>
    </div>
    <div class="card-content">
        <div class="content timestamp">Posted {{createdAt}} by {{author}}</div>
    </div>
</section>